.jumbotron {
  background: #2683ff;
  color: white;
  padding-bottom: 80px; }
  .jumbotron .btn-primary {
    background: #173AE8;
    border-color: #173AE8; }
    .jumbotron .btn-primary:hover {
      background: #003366; }
  .jumbotron p {
    color: #fff;
    max-width: 75%;
    margin: 1em auto 2em; }
  .navbar + .jumbotron {
    margin-top: -20px; }
  .jumbotron .lang-logo {
    display: block;
    overflow: hidden;
    width: 100px;
    height: 100px;
    margin: auto; }
    .jumbotron .lang-logo img {
      max-width: 100%; }