.jumbotron {
    background: #fff;
    padding-bottom: 1em;
}
.jumbotron .btn {
    border: 0;
    padding: 1em 2em;
}
.jumbotron .btn-primary {
    background: #2683ff;
}
.jumbotron .btn-primary:hover {
    background: #173AE8;
}
.jumbotron h1 {
    font-size: 42px;
    font-weight: bold;
}
.jumbotron p {
    max-width: 65%;
    font-size: 18px;
    margin: 1em auto 2em;
}
.navbar + .jumbotron {
    margin-top: -20px;
}
.jumbotron .lang-logo {
    display: block;
    overflow: hidden;
    width: 100px;
    height: 100px;
    margin: auto;
}
.jumbotron .lang-logo img {
    max-width: 100%;
}
.jumbotron .alert {
    margin: 0 auto 3em;
}
@media (max-width: 767px) {
  .jumbotron p {
    max-width: 80%;
  }
}